<?xml version="1.0" encoding="utf-8" ?>
<!--
TYPE:
1=index,
2=news,
3=product,
4=download,
5=course,
6=singlepage,
7=job
8=new list,
9=product list,
10=download list,
11=course list,
12=job list
node:
<add path=""  type="" ids="" rootSortId="" lang=""/>
-->
<htmlConfig>
  <add path="/default.aspx"   type="1"/>
  <add path="/about.aspx"  type="6" ids="1,2,3"/>
  <add path="/contact.aspx"  type="6" ids="4"/>
  <add path="/cooperschool.aspx"  type="8" rootSortId="12"/>
  <add path="/cooperschooldetail.aspx"  type="2" rootSortId="12"/>
  <add path="/news.aspx"  type="8" rootSortId="1"/>
  <add path="/newsdetail.aspx"  type="2" rootSortId="1"/>
  <add path="/studyinjapan.aspx"  type="8" rootSortId="15"/>
  <add path="/studyinjapandetail.aspx"  type="2" rootSortId="15"/>
  <add path="/teacher.aspx"  type="8" rootSortId="8"/>
  <add path="/teacherdetail.aspx"  type="2" rootSortId="8"/>
  <add path="/course/default.aspx"  type="1"/>
  <add path="/course/course.aspx"  type="11" rootSortId="1"/>
  <add path="/course/coursedetail.aspx"  type="5" rootSortId="1"/>
  <add path="/jp/default.aspx"   type="1"/>
  <add path="/jp/about.aspx"  type="6" ids="4,5,6"/>
  <add path="/jp/contact.aspx"  type="6" ids="7"/>
  <add path="/jp/cooperschooldetail.aspx"  type="2" rootSortId="35"/>
  <add path="/jp/cooperschool.aspx"  type="8" rootSortId="35"/>
  <add path="/jp/news.aspx"  type="8" rootSortId="24"/>
  <add path="/jp/newsdetail.aspx"  type="2" rootSortId="24"/>
  <add path="/jp/studyinjapandetail.aspx"  type="2" rootSortId="38"/>
  <add path="/jp/studyinjapan.aspx"  type="8" rootSortId="38"/>
  <add path="/jp/teacherdetail.aspx"  type="2" rootSortId="31"/>
  <add path="/jp/teacher.aspx"  type="8" rootSortId="31"/>
  <add path="/jp/course/default.aspx"  type="1"/>
  <add path="/jp/course/coursedetail.aspx"  type="5" rootSortId="6"/>
  <add path="/jp/course/course.aspx"  type="11" rootSortId="6"/>
</htmlConfig>