.nt-upload-box {
    position: fixed;
    top: 200px;
    left: 43%;
    width: 350px;
    height: 120px;
    background: #F2F2F2;
    border: 10px solid #f3b48a;
    display: none;
    text-align: center;
    z-index: 20001;
}

    .nt-upload-box .nt-upload-box-title {
        height: 30px;
        background: #f3b48a;
        font-family: "Î¢ÈíÑÅºÚ";
        font-weight: bold;
        line-height: 30px;
        text-align: center;
        color: #fff;
        border-bottom: 1px solid #D1D3BB;
        margin-bottom: 3px;
    }

    .nt-upload-box .upload-button {
        width: 64px;
        height: 26px;
        font-size: 12px;
        line-height: 26px;
        display: inline-block;
        background: url(../images/normal.jpg) no-repeat;
        color: #555555;
    }

        .nt-upload-box .upload-button:hover {
            background: url(../images/hover.jpg) no-repeat;
        }

    .nt-upload-box .file-button {
        display: none;
    }

input[type=file] {
    background-color: white;
    height: 22px;
    width: 230px;
    border: 1px solid #bababa;
    line-height: 22px;
}

.input-text {
    width: 200px;
    height: 22px;
    line-height: 22px;
    border: 1px solid #bababa;
    background: #fff;
    text-align: left;
    font-family: "ËÎÌå";
    font-size: 12px;
    color: #545454;
}

#nt-download-data {
    color: #555555;
}
