<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode url="javascript:void(0);" title="通用设置" permissionNames="WebSiteSettings,NavigationManage,LogManage,BannerManage,LanguageManage,JsManage,ContentManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/Common/WebSiteSettings.aspx" title="网站设置" permissionNames="WebSiteSettings" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Navigation.aspx" title="导航管理" permissionNames="NavigationManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/MNavigation.aspx" title="微导航管理" permissionNames="NavigationManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Log.aspx" title="后台登陆日志" permissionNames="LogManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Banner.aspx" title="Banner图管理" permissionNames="BannerManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Language.aspx" title="语言版本管理" permissionNames="LanguageManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Javascript.aspx" title="网站通用Js脚本" permissionNames="JsManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Content.aspx" title="网站通用内容" permissionNames="ContentManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/Slider.aspx" title="幻灯片管理" permissionNames="SliderManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Common/AdvertManage.aspx" title="广告管理" permissionNames="AdvertManage" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="数据库管理" permissionNames="DBManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/DB/ExecuteScript.aspx" title="执行脚本" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="管理员管理" permissionNames="UserLevelManage,UserManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/User/UserLevel.aspx" title="管理员角色管理" permissionNames="UserLevelManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/User/List.aspx" title="管理员管理" permissionNames="UserManage" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="单页面管理" permissionNames="SinglePageManage,SpecialPageManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/SinglePage/SinglePage.aspx" title="二级页面" permissionNames="SinglePageManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/SinglePage/SpecialPage.aspx" title="专题页" permissionNames="SpecialPageManage" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="新闻管理" permissionNames="NewsManage,NewsEdit,NewsSettings,NewsCategoryManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/News/Category.aspx" title="新闻目录管理" permissionNames="NewsCategoryManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/News/List.aspx" title="新闻列表" permissionNames="NewsManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/News/Edit.aspx" title="添加新闻" permissionNames="NewsEdit" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/News/Settings.aspx" title="设置" permissionNames="NewsSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>


  <siteMapNode url="javascript:void(0);" title="课程管理" permissionNames="CourseManage,CourseCategoryManage,CourseEdit"  class="menu-outer-nav">
    <siteMapNode url="/Netin/Course/Category.aspx" title="班级类别管理" permissionNames="CourseCategoryManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Course/List.aspx" title="课程列表" psermissionNames="CourseManage"  class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Course/Edit.aspx" title="添加课程" permissionNames="CourseEdit" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="产品管理" permissionNames="ProductManage,ProductEdit,ProductSettings,ProductCategoryManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/Product/Category.aspx" title="产品目录列表" permissionNames="ProductCategoryManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Product/List.aspx" title="产品列表" permissionNames="ProductManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Product/Edit.aspx" title="添加产品" permissionNames="ProductEdit" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Product/ProductFieldsSettings.aspx" title="产品参数管理" permissionNames="ProductFieldsManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Product/hezuojigou.aspx" title="合作机构管理"  class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Product/Settings.aspx" title="设置" permissionNames="ProductSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="下载管理" permissionNames="DownloadManage,DownloadEdit,DownloadCategoryManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/Download/Category.aspx" title="下载目录列表" permissionNames="DownloadCategoryManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Download/List.aspx" title="下载列表" permissionNames="DownloadManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Download/Edit.aspx" title="添加下载" permissionNames="DownloadEdit" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="会员管理" permissionNames="MemberManage,MemberEdit,MemberRoleManage,MemberRegisterDeclare,MemberSettings" class="menu-outer-nav">
    <siteMapNode url="/Netin/Member/List.aspx" title="会员列表" permissionNames="MemberManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Member/Edit.aspx" title="添加会员" permissionNames="MemberEdit" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Member/MemberRole.aspx" title="会员角色管理" permissionNames="MemberRoleManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Member/RegisterDeclare.aspx" title="注册声明" permissionNames="MemberRegisterDeclare" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Member/Settings.aspx" title="设置" permissionNames="MemberSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="订单管理" permissionNames="OrderManage,OrderEdit,OrderSettings" class="menu-outer-nav">
    <siteMapNode url="/Netin/Order/List.aspx" title="订单列表" permissionNames="OrderManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Order/Edit.aspx" title="订单添加" permissionNames="OrderEdit" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Order/Settings.aspx" title="设置" permissionNames="OrderSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="招聘管理" permissionNames="JobManage,JobEdit,JobResumeManage,JobSettings" class="menu-outer-nav">
    <siteMapNode url="/Netin/Job/List.aspx" title="职位列表" permissionNames="JobManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Job/Edit.aspx" title="添加职位" permissionNames="JobEdit" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Job/AllResume.aspx" title="简历管理" permissionNames="JobResumeManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Job/Settings.aspx" title="设置" permissionNames="JobSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="留言管理" permissionNames="MessageManage,MessageAdminNotice,MessageSettings,MessageCatalogManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/Message/List.aspx" title="留言列表" permissionNames="MessageManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Message/AdminNotice.aspx" title="管理员公告" permissionNames="MessageAdminNotice" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Message/SetCatalog.aspx" title="分类管理" permissionNames="MessageCatalogManage"  class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Message/Settings.aspx" title="设置" permissionNames="MessageSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="预订管理" permissionNames="BookManage,BookCategoryManage,BookSettings,BookCatalogManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/Book/List.aspx" title="预订列表" permissionNames="BookManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Book/AdminNotice.aspx" title="管理员公告" permissionNames="BookAdminNotice" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Book/SetCatalog.aspx" title="分类管理"  permissionNames="BookCatalogManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Book/Settings.aspx" title="设置" permissionNames="BookSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="邮件管理" permissionNames="EmailAccountManage,EmailManage,EmailSettings" class="menu-outer-nav">
    <siteMapNode url="/Netin/Email/EmailAccount.aspx" title="邮箱账号管理" permissionNames="EmailAccountManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Email/Email.aspx" title="邮件列表" permissionNames="EmailManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Email/Settings.aspx" title="设置" permissionNames="EmailSettings" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="javascript:void(0);" title="网站优化管理" permissionNames="WebsiteLinksManage,SearchWordsManage,FriendLinkManage,SeoSitemapManage,HtmliztionManage" class="menu-outer-nav">
    <siteMapNode url="/Netin/Seo/WebsiteLink.aspx" title="站内链接" permissionNames="WebsiteLinksManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Seo/SiteMap.aspx" title="搜索引擎优化" permissionNames="SeoSitemapManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Seo/SearchKeywords.aspx" title="搜索关键词管理" permissionNames="SearchWordsManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Seo/FriendLink.aspx" title="友情链接" permissionNames="FriendLinkManage" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Seo/ColumnsSeo.aspx" title="栏目优化" class="menu-inner-nav">
    </siteMapNode>
    <siteMapNode url="/Netin/Html/Htmlize.aspx" title="静态生成" permissionNames="HtmliztionManage" class="menu-inner-nav">
    </siteMapNode>
  </siteMapNode>

  <siteMapNode url="/Netin/System/SystemDescription.aspx" title="系统说明" permissionNames="SystemDescription" class="menu-outer-nav">
  </siteMapNode>
</siteMap>