<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <pages>
      <namespaces>
        <add namespace="Nt.Framework"/>
        <add namespace="Nt.BLL"/>
        <add namespace="Nt.Model"/>
        <add namespace="Nt.Model.SettingModel"/>
        <add namespace="Nt.BLL.MD5"/>
        <add namespace="Nt.BLL.Helper"/>
        <add namespace="Nt.BLL.Mail"/>
        <add namespace="Nt.BLL.Extension"/>
      </namespaces>
    </pages>
  </system.web>
</configuration>
